blinker==1.8.2
click==8.1.7
colorama==0.4.6
dnspython==2.7.0
Flask==3.0.3
Flask-Cors==5.0.0
Flask-PyMongo==2.3.0  # Keep this if you plan to use MongoDB
Flask-SQLAlchemy==3.1.1  # Keep if using SQLAlchemy for other databases
gunicorn==20.1.0
